body {
  font-family: PingFang SC,Helvetica Neue,Arial,sans-serif;
}
h1, h2, h3, h4, h5 {
  font-weight: 400;
  color: #1f2f3d;
  border: none;
}
h1
  font-size 1.5rem

h2
  font-size 1.3rem
  padding-bottom: 1rem

h3
  font-size 1.2rem;
  padding-top: 2rem !important;
  margin-bottom: 1rem !important;
  margin-top: 0 !important;

p 
  font-size: 14px;
  color: #5e6d82;
  line-height: 1.5em;
  margin-top: 0px !important;

* {
  box-sizing: border-box;
}


.theme-default-content:not(.custom) {
    max-width: 1300px;
}